@using System.Collections.Generic
@model Twtter.Application.Models.TweetsControllerModel

<h2>For users only hello @ViewBag.UserName</h2>

@*-----------------actin  ,  comtroller*@
@Html.Action("Index", "Tweets", new
    {
        sortOrder = Model.SortOrder,
        currentFilter = Model.CurrentFilter,
        page = Model.Page
    });





